*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: #222;
    color: #fff;
}
.screen{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 90vh;
    margin: 20px;
    border: 2px solid white;
    overflow: hidden;
}
.btn{
    height: 40px;
    width: 100px;
    border: none;
    outline: none;
    margin: 10px 0;
    background-color: rgb(236, 207, 207);
    border-radius: 10px;
    cursor: pointer;

}
.division{
    margin: 20px;
}
.middle{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secret{
    height: 80px;
    width: 120px;
    background-color: rgb(68, 68, 55);
    color: #fff;
    font-size: 50px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    height: 80px;
    width: 120px;
    background-color: rgb(68, 68, 55);
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-align: center;
    color: #fff;
    /* margin: 10px; */
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-right{
    height: 100%;
    width: 100%;
    margin: 0 20px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centre;
    
}
.bottom-left{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}
